<div class="accordion">
    <ul>
      <li>
        <div> <a href="page.html" class="inactiveLink cc" title="imagem mapor construção civil">
          <h2 class="accord-h2">Construção Civil</h2>
          <p>- Capoto / ETICS<br>
            - Pintura<br>
            - Gesso Cartonado<br>
            - Construção eficiente<br>
            - Construção LSF<br>
            - Pavimentos</p>
          </a> </div>
      </li>
      <li>
        <div> <a href="page.html" class="inactiveLink ci" title="imagem mapor industria">
          <h2 class="accord-h2">Indústria</h2>
          <p>- Marcenaria e Mobiliário <br>
            &#160; -  Tintas e vernizes<br>
              - Metalomecânica<br>
              &#160; - Tintas e revestimentos</br>
              &#160;  - Pavimentos industriais
          </p>
          </a> </div>
      </li>
    </ul>
  </div>
