<div class="accordion">
    <ul>
      <li>
        <div> <a href="page.html" class="inactiveLink">
          <h2 class="accord-h2">Construção Civil</h2>
          <p>Revestimento e Pintura</br>
            Restauro e Reabilitação</br>
            Construção eficiente - IAC</br>
            Construção LSF - IAC</p>
          </a> </div>
      </li>
      <li>
        <div> <a href="page.html" class="inactiveLink">
          <h2 class="accord-h2">Industria</h2>
          <p>Marcenaria e Mobiliário</br>
            Metalomecânica</br>
            Mobiliário Urbano</br>
            Pavimentos</br>
            Cerâmica</br>
            Tintas</p>
          </a> </div>
      </li>
    </ul>
  </div>