<div class="accordion">
    <ul>
      <li>
        <div> <a style="" href="page.html" class="inactiveLink">
          <h2>Construção Civil</h2>
          <p>Revestimento e pintura
            Restauro e reabilitação
            Construção eficiente - IAC
            Construção LSF - IAC</p>
          </a> </div>
      </li>
      <li>
        <div> <a style="" href="page.html" class="inactiveLink">
          <h2>Industria</h2>
          <p>Marcenaria e mobiliário
            Metalomecânica
            Mobiliário Urbano
            Pavimentos
            Cerâmica
            Tintas</p>
          </a> </div>
      </li>
    </ul>
  </div>