<footer>
    <h3>Contactos</h3>
    <h3>Entre em contacto connosco.</h3>
    <p>Estamos ao dispor para esclarecer qualquer dúvida,
      preencha este formulário, responderemos com o máximo
      de brevidade possível.​
    </p>
    <ul>
      <li>
        <h4>Morada</h4>
        <p>Zona Industrial de Mira Polo II
          Lote 5, Seixo de Mira
          3070-492
          Mira, PORTUGAL</p>
      </li>
      <li>
        <h4>Horário</h4>
        <p>Segunda a Sexta
          8h30 – 12h30 / 14h-18h</p>  
      </li>
      <li>
        <h4>Contactos</h4>
        <p>231 488 206
          geral@mapor.pt</p>  
      </li>
    </ul>
  
    <ul>
      <li>logo logo</li>
      <li></li>
      <li></li>
    </ul>
  
</footer>
