<footer>

  <div>
    <h3 class="f-title">Contactos</h3>
    <h3 class="f-title-d">Entre em contacto connosco.</h3>
    <p>Estamos ao dispor para esclarecer qualquer dúvida,
      preencha este formulário, responderemos com o máximo
      de brevidade possível.​
    </p>
  </div>

    <ul class="directions">
      <li>
        <h4>Morada</h4>
        <p>Zona Industrial de Mira Polo II
          Lote 5, Seixo de Mira
          3070-492
          Mira, PORTUGAL</p>
      </li>
      <li>
        <h4>Horário</h4>
        <p>Segunda a Sexta
          8h30 – 12h30 / 14h-18h</p>  
      </li>
      <li>
        <h4>Contactos</h4>
        <p>231 488 206
          geral@mapor.pt</p>  
      </li>
    </ul>

    <div class="the-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12143.086472015333!2d-8.7055432!3d40.4581915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x38d2238665cd5c3f!2sMirapack%20Embalagens!5e0!3m2!1sen!2sbe!4v1594723655681!5m2!1sen!2sbe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  
    <ul class="fut">
      <li>
        <a href=""><i>logo</i></a>
        <a href=""><i>logo</i></a>
      </li>
      <li>Copyright © 2020 Mapor</li>
      <li>Developed by <a href="">Tekna Creative</a></li>
    </ul>

    <script type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type="text/javascript" src="fsbanner.js"></script>
    
</footer>
