@import "colors";
@import "typography";
@import "spacing";
@import "buttons";

.fsbanner, .fsbanner > div > span { 
	/* obrigatório */
	display:none; 
}
div.fsbanner {
	/* obrigatorio */ 
	position:relative;
	overflow:hidden;
	/* opcional */
	height:500px;
	color:white;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}


.fsbanner > div { 
	position:absolute; 
	background-size:cover;
	cursor:pointer;
	top:0px; 
	left:0px;
	
	
	&:hover {
		&::after {
			content: "";
			background: $c-secondary;
			width: 100%;
			height: 50%;
			position: absolute;
			left: 0;
			opacity: 0.7;
			bottom: 0;
		}
	}
	
}

.fsbanner > div .name { 
	display:none;
	position:absolute; 
	left:10px; 
    bottom:10px;
    max-width: 200px;
    @include display4;
    color: $c-pure;
	font-weight: 700;
	z-index: 3;

    p {
        @include mobileBody;
        font-weight: 100;
    }
    
    &:hover{
        display: block;
    }
}

.fsbanner > div .name.minimized {
	opacity: 0;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	
	bottom: -13px;
    left: 7px;
}

//aqui é onde se esconde a secção
.accordion {
	display: none;

	@media screen and (min-width:800px){
		display: block;
	  }
}
