@import "colors";
@import "typography";
@import "spacing";
@import "buttons";
@import "accordion";
/* Css Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
li {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  @include mobileBody;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: $c-pure;
}

ul[class],
ol[class],
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a:link {
  text-decoration: none;
}

/*-TYPOGRAPHY*/

.title1 {
  @include display3;
  color: $c-pure;
  
  @media screen and (min-width: 800px) {
    @include display1;
    color: $c-pure;
  }

}

.title2 {
  @include display4; 
}

.title3 {
  color: $c-neutral;
}

.text-notwhite {
  color: $c-neutral;
}

/* SECTIONS */

section {
  padding-left: $space-s;
  padding-right: $space-s;
}

.intro-section {
  background-color: $c-primary;
  position: relative;
  padding-top: $space-m;

  .red-paint-mobile {
    position: absolute;
    top: 0;
    right: 32px;
    width: 144px;
    height: 300px;
    background-color: $c-secondary;
    z-index: 0;

    @media screen and (min-width:800px){
      display: none;
    }

    }
    
    .img-container-mobile {
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 0;
    top: 340px;
    right: 0;
    background: blue;

    @media screen and (min-width:800px){
      display: none;
    }
    }

  .red-paint {
    display: none;
    position: absolute;
    top: 0;
    left: 124px;
    width: 200px;
    height: 300px;
    background-color: $c-secondary;
    z-index: 0;

    @media screen and (min-width:800px){
      display: block;
    }
  }

  .img-container {
    display: none;
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 124px;
    background: blue;

    @media screen and (min-width:800px){
      display: block;
    }

  }

  header {
    position: relative;
    z-index: 2;

    nav {
      display: flex;
    

    img {
      padding-bottom: $space-xl;
      flex-grow: 3;
      max-width: 221px;

      @media screen and (min-width: 800px) {
        padding-top: $space-l;
        padding-left: $space-xxl;
        max-width: 330px;
      }

    }

    @media screen and (min-width: 800px) {
      display: flex;
    }

    ul {
      display: none;

      li {

        svg {
          height: 42px;
          width: 42px;
        }
      }

      @media screen and (min-width: 800px) {
      display: flex;
      width: 100%;
      padding-top: 32px;
      padding-right: 48px;
      justify-content: flex-end;
    }
    }

  }

  }
  

  .intro-text {
    position: relative;
    z-index: 2;
    padding-bottom: 240px;

    h1 {
      padding-bottom: $space-s;

      @media screen and (min-width: 800px) {
        width: 470px;
        padding-top: $space-xl;
      }
    }

    p {
      @media screen and (min-width: 800px) {
        width: 420px;
      }
    }

    @media screen and (min-width: 800px) {
      padding-left: 200px;
      padding-bottom: 400px;
    }

  }

  .zone {
    margin-bottom: $space-xl;

    img {
      padding-bottom: $space-m;
    }

    .trinta-desc {
      padding-bottom: $space-xl;

      h2 {
        padding-bottom: $space-s;
      }

      @media screen and (min-width: 800px) {
        max-width: 500px;
      }
    }

    @media screen and (min-width: 800px) {
      padding-left: 45%;
    }

  }

}

.gallery-section {
  max-width: 900px;
  margin: 0 auto;
  
  h2 {
    padding-bottom: $space-s;
  }

  .text-notwhite {
    padding-bottom: $space-ml;
  }

  .wrap-figures {
    display: flex;
    flex-direction: column;

    figure:first-child {
      margin-bottom: $space-s;
    }

    figure:last-child {
      margin-bottom: $space-m;
    }

    @media screen and (min-width:800px){
      display: none;
    }

  }

  figure {
    position: relative;
    max-width: 100%;
    //overlay
    &::after {
      content: "";
      background: $c-secondary;
      width: 100%;
      height: 220px;
      position: absolute;
      left: 0;
      opacity: 0.7;
      bottom: 0;
    }
    img {
      height: 460px;
      width: auto;
    }
    figcaption {
      width:100%;
      height: 180px;
      position: absolute;
      bottom: 0;
      z-index: 3;
      color: $c-pure;
      padding-left: $space-s;
      padding-right: $space-s;

      h4{
        font-size: 24px;
        line-height: 40px;
      }
      
    }
  }

}

.serv-section {
  position: relative;
  height: 1380px;
  padding: 0;

  .serv-section-intro {
    padding-left: $space-s;


  h2 {
    padding-bottom: $space-s;
  }

  .text-notwhite {
    padding-bottom: $space-ml;
  }

  }


  .car-wrap {

    display: none;

    @media screen and (min-width: 800px) {
    position: relative;
      z-index: 2;
      display: block;
    height: 600px;
    width: 346px;
    background-image: url('img/car.png');
    background-size: cover;
    }
    
  }

  .list-bg-grey {

    .um {
      background-image: url('img/itemsgrid/11.png');
      background-size: cover;
      width: 264px;
      height: 129px;
    }

    .dois {
      background-image: url('img/itemsgrid/22.png');
      background-size: cover;
      width: 278px;
      height: 127px;
    }

    .tres {
      background-image: url('img/itemsgrid/33.png');
      background-size: cover;
      width: 273px;
      height: 157px;
    }
  }

  .list-bg-red {
    .quatro {
      background-image: url('img/itemsgrid/44.png');
      background-size: cover;
      width: 264px;
      height: 139px;
    }

    .cinco {
      background-image: url('img/itemsgrid/55.png');
      background-size: cover;
      width: 278px;
      height: 115px;
    }

    .seis {
      background-image: url('img/itemsgrid/66.png');
      background-size: cover;
      width: 282px;
      height: 136px;
    }
  }

  .servicos {
    display: inline-block;
    margin-top: $space-m;
    margin-bottom: $space-m;
  }

  .bg-red {
    display: none;

    @media screen and (min-width: 800px){
      display: block;
    }

    background-color: lime;
    height: 230px;
  }

  .list-bg-grey {
    background-color: $c-neutral2;
    padding-left: $space-s;
    margin: 0;

    ul{
      margin: 0;
    }
  }

  .list-bg-red {
    background-color: $c-secondary;
    position: absolute;
    padding-left: $space-s;
    width: 100%;
    margin: 0;
  }

  @media screen and (min-width: 800px){
    display: grid;

    .serv-section-intro {
      grid-area: intro;
    }

    .car-wrap {
      grid-area: car;
    }

    .bg-red {
      grid-area: bg-red;
    }

    .list-bg-grey {
      grid-area: listg;
    }

    .list-bg-red {
      grid-area: listr;
    }
    
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 160px 300px 300px;
    grid-template-areas:
      "intro intro"
      "car listg"
      "bg-red listr";
  }

}


.photo-section {
  padding: $space-s;

  div {
    width: 100%;
    height: 100%;
  }
}

.team-section {

  h2 {
    padding-bottom: $space-s;
  }

  .text-notwhite {
    padding-bottom: $space-ml;
  }

  ul {
    display: flex;
    flex-direction: column;
    li {
      text-align: center;
      padding-bottom: $space-l;
      div {
        background: red;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        margin: auto;
      }
      h3 {
        color: $c-primary;
      }
      p {
        color: $c-secondary;
      }
    }
  @media screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
  }
}

.brands {
  h2 {
    text-align: center;
  }
  div {
    display: flex;
    flex-direction: column;
    img {
      width: 240px;
      margin: auto;
    }

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  }
}

footer {
  background-color: $c-primary;
  padding-left: $space-s;
  padding-right: $space-s;

  .f-intro-wrap {
    position: relative;
    z-index: 2;
  }

  h3 {
    @include display2;
    color: $c-pure;
    padding-bottom: $space-s;
    padding-top: $space-l;
  }

  h4 {
    @include display4;
    color: $c-pure;
    padding-bottom: $space-s;
  }

  p {
    color: $c-third;
    padding-bottom: $space-m;
  }
  
  .f-title {
    display: block;

    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .f-title-d {
    display: none;

    @media screen and (min-width: 800px){
      display: block;
      max-width: 435px;
    }
  }

  .f-intro {
    max-width: 420px;
  }

  .the-map {
    position: relative;
    z-index: 2;

    iframe {
    width: 100%;
    height: 340px;
    padding-bottom: $space-m;

      @media screen and (min-width: 800px) {
        width: 100%;
        height: 450px;
      }
    }
  }

  .directions {
    position: relative;
    z-index: 2;
  }

  .fut {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    
    @media screen and (min-width:800px){
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }

    li {
      padding-bottom: $space-m;

      svg {
        height: 42px;
        width: 42px;
      }
    }
  }

  @media screen and (min-width: 800px) {

    display: grid;

    div {
      grid-area: intro;
    }

    .directions {
      grid-area: three;
    }

    .the-map {
      grid-area: map;
    }

    .fut {
      grid-area: tag;
    }
    
    grid-template-columns: 1fr 2fr;
    grid-column-gap: $space-s;
    grid-template-rows: auto 500px auto;
    grid-template-areas:
      ". intro"
      "three map"
      "tag tag";
  }

  .f-red-flag {
    
    display: none;
    @media screen and (min-width: 800px) {
      display: block;
      background-color: $c-secondary;
    height: 700px;
    width: 200px;
    left: 30%;
    transform: translate(10%, 20%);
    z-index: 1;
    position: absolute;
    }
      
    
  }
}
