---
layout: default
---

<section class="intro-section">
  
  <header>
    <img src="assets/img/logo.png" alt="">
    <nav>Contactos</nav>
  </header>

  <div class="intro-text">
    <h1 class="title1">Uma escolha de bom tom</h1>
    <p>Distribuidores exclusivos de marcas conceituadas na área da construção e indústria.</p>
  </div>

  <div class="red-paint">
  </div>
  <div class="img-container">
    <i></i>
  </div>
  <div class="30-zone">
    <img src="assets/img/30.png" alt="">
    <div class="trinta-desc">
      <h2 class="title1">A experiência faz parte de nós</h2>
      <p>Sediada em Mira, a Mapor conta já com uma vasta experiência no sector da construção e da indústria. Produzimos e distribuímos os melhores e mais variados materiais para estes sectores e representamos marcas confiáveis que nos permitem dar uma resposta de grande qualidade e diversidade ao mercado.​</p>
    </div>
  </div>
</section>

<section class="gallery-section">
  <h2 class="title2">Áreas de atuação</h2>
  <p>Disponibilizamos uma grande variedade de produtos dentro das seguintes áreas:</p>
  
  <div class="wrap-figures">
  <figure>
    <img src="assets/img/imagebuild.png" alt="">
    <figcaption>
      <div>
        <h4>Construção Civil</h4>
        <p>Revestimento e pintura
          Restauro e reabilitação
          Construção eficiente - IAC
          Construção LSF - IAC</p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <img src="assets/img/imagebuild.png" alt="">
    <figcaption>
      <div>
        <h4>Construção Civil</h4>
        <p>Revestimento e pintura
          Restauro e reabilitação
          Construção eficiente - IAC
          Construção LSF - IAC</p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <img src="assets/img/imagebuild.png" alt="">
    <figcaption>
      <div>
        <h4>Construção Civil</h4>
        <p>Revestimento e pintura
          Restauro e reabilitação
          Construção eficiente - IAC
          Construção LSF - IAC</p>
      </div>
    </figcaption>
  </figure>
</div>


<section class="serv-section">
  <h2 class="title2">Serviços</h2>
  <p>Disponibilizamos uma grande variedade de produtos dentro das seguintes áreas:</p>

  <div class="car-wrap">
    <i class="car"></i>
  </div>
  

  <div class="list-bg-grey">
    <ul>
      <li class="um servicos"></li>
      <li class="dois servicos"></li>
      <li class="tres servicos"></li>
    </ul>
  </div>
  <div class="list-bg-red">
    <ul>
      <li class="quatro servicos"></li>
      <li class="cinco servicos"></li>
      <li class="seis servicos"></li>
    </ul>
  </div> 
</section>

<section class="photo-section">
  <div>
    <img src="assets/img/fotoentrada.png" alt="">
  </div>
</section>

<section class="team-section">
  <h2 class="title2">Uma equipa preparada para o ajudar.</h2>
  <p>Temos uma equipa de consultores técnicos e comerciais preparados para analisar, diagnosticar, aconselhar ou desenvolver os produtos mais adequados as suas necessidades.</p>
  <ul>
    <li>
      <div></div>
      <h3>Noé Cruz</h3>
      <p>Fundador / Gerente</p>
    </li>
    <li>
      <div></div>
      <h3>Filipe Cruz</h3>
      <p>Consultor Comercial</p>
    </li>
    <li>
      <div></div>
      <h3>Ricardo Cruz</h3>
      <p>Consultor Comercial/p>
    </li>
  </ul>
</section>

<section class="brands">
  <h2 class="title3">Marcas representadas</h2>
  <div>
    <img src="assets/img/platinium.png" alt="">
    <img src="assets/img/ferroluz.png" alt="">
    <img src="assets/img/mtm.png" alt="">
    <img src="assets/img/3v3.png" alt="">  
  </div>
</section>

