---
layout: default
---

<section class="intro-section" aria-label="mapor tintas e materias portugal">
  <header>
    <nav>
    <div>
      <img src="assets/img/logo.png" alt="mapor tintas logo portugal">
    </div>
      <ul>
        <li>
          <p><a href="#anchorcontacts" class="anchorc" title="mapor contatos">Contactos</a></p>
        </li>
        <li>
          <a href="https://www.facebook.com/maportintas/" target="_blank" title="facebook tintas materiais mapor">{% include facebook.html %}</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/12993480" target="_blank" title="facebook tintas materiais mapor">{% include linkedin.html %}</a>
        </li>
      </ul>
      </nav>
  </header>

  <div class="intro-text" aria-label="mapor tintas e materias">
    <h1 class="title1">Uma escolha de bom tom.</h1>
    <p id="trigone">Distribuidores exclusivos de marcas conceituadas na área da construção e indústria.</p>
  </div>


  <div class="red-paint-mobile" aria-label="mapor tintas e materias illustração">
  </div>
  <div class="img-container-mobile" aria-hidden="true">
    <div aria-hidden="true"></div>
  </div>

  <div class="red-paint" aria-hidden="true">
  </div>
  <div class="img-container" aria-hidden="true">
    <div aria-hidden="true"></div>
  </div>


  <div class="zone">
    <img src="assets/img/30.png" alt="Mapor 30 anos Portugal">
    <div class="trinta-desc">
      <h2 class="title1">A experiência
        faz parte
        de nós</h2>
      <p>Sediada em Mira, a Mapor conta com uma vasta experiência no sector da construção 
        e da indústria. Produzimos e distribuímos os melhores e mais variados revestimentos para estes sectores e representamos marcas confiáveis que nos 
        permitem dar uma resposta de grande qualidade e diversidade ao mercado.​​</p>
    </div>
  </div>
</section>



<section class="gallery-section">
  <div class="gallery-intro">
    <h2 class="title2">Produtos para várias áreas.</h2>
    <p class="text-notwhite">Disponibilizamos uma grande variedade de produtos dentro das seguintes áreas:</p>
  </div>

<div class="anchorg"></div>
  <div class="wrap-figures">
  <figure>
    <img src="assets/img/asset_construcao.png" alt="Imagem Mapor Construção Civil">
    <figcaption>
        <h4>Construção Civil</h4>
        <p>- Capoto / ETICS<br>
          - Pintura<br>
          - Gesso Cartonado<br>
          - Construção eficiente<br>
          - Construção LSF<br>
          - Pavimentos</p>
    </figcaption>
  </figure>

  <figure>
    <img src="assets/img/asset_industria.png" alt="Imagem Mapor Indústria">
    <figcaption>
        <h4>Indústria</h4>
        - Marcenaria e Mobiliário<br>
              <span class="ident">-  Tintas e vernizes</span><br>
          - Metalomecânica<br>
             <span class="ident">- Tintas e revestimentos</span><br>
             <span class="ident">- Pavimentos industriais</span></p>
    </figcaption>
  </figure>
</div>

{% include accordion.html %}

</section>


<section class="serv-section" aria-label="produtos mapor">

    <div class="serv-section-intro">
      <h2 class="title2">Mais do que vender de produtos.</h2>
      <p class="text-notwhite"> Queremos clientes satisfeitos.</br>Temos estabelecido na Mapor, procedimentos que fazem com que tudo chegue até si,
        com altos níveis de qualidade.</p>
    </div>

  <div class="car-wrap" aria-label="Imagem carro mapor">
    <i class="car" aria-hidden="true"></i>
  </div>
  

  <div class="list-bg-grey" aria-label="lista de serviços mapor tintas e materias">
    <ul>
      <li class="um servicos"></li>
      <li class="dois servicos"></li>
      <li class="tres servicos"></li>
    </ul>
  </div>
  <div class="bg-red"></div>
  <div class="list-bg-red">
    <ul>
      <li class="quatro servicos"></li>
      <li class="cinco servicos"></li>
      <li class="seis servicos"></li>
    </ul>
  </div> 
</section>

<section class="photo-section">
  <div class="wrap" aria-label="galeria fotos mapor">
    <div class="imgs imga" aria-label="imagem loja mapor de tintas">
      <i><span class="mcum"></span><span class="mcdois"></span></i>
    </div>
    <div class="imgs imgadois" aria-label="imagem fabrica mapor">
      <i><span class="mcum"></span><span class="mcdois"></span></i>
    </div>
  </div>
</section>

<section class="team-section">
  <div class="intro-wrap">
    <h2 class="title2">Uma equipa preparada para o ajudar.</h2>
    <p class="text-notwhite">Temos uma equipa de consultores técnicos e comerciais preparados para analisar, diagnosticar, aconselhar ou desenvolver os produtos mais adequados às suas necessidades.</p>
  </div>
  <ul>
    <li class="noe-section">
      <div class="photos-workers noe" aria-label="imagem fundador noé"></div>
      <h3>Noé Cruz</h3>
      <p>Fundador / Gerente</p>
      <a href="https://www.linkedin.com/in/noe-cruz-562b031ab/" target="_blank">{% include linkedindois.html %}</a> 
    </li>
    <li class="filipe-section">
      <div class="photos-workers filipe" aria-label="imagem consultor comercial filipe"></div>
      <h3>Filipe Cruz</h3>
      <p>Consultor Comercial</p>
      <a href="https://www.linkedin.com/in/filipe-cruz-b626a5198/?fromQR=1" target="_blank">{% include linkedindois.html %}</a> 
    </li>
    <li class="ricardo-section">
      <div class="photos-workers ricardo" aria-label="imagem consultor comercial ricardo"></div>
      <h3>Ricardo Cruz</h3>
      <p>Consultor Comercial</p>
      <a href="https://www.linkedin.com/public-profile/in/ricardo-cruz-a3b7571ab?challengeId=AQGqLY7LeksRSwAAAXOBpqgTXh99cseDU2FqsMxrd-jQGSt4wxkYFWi0LurLC3SuwZanqHAeXfltBxyeaqRO_o6oVBCEiEj5PA&submissionId=6b8b6a27-11bd-2416-a49e-fc5badb1ed65" target="_blank">{% include linkedindois.html %}</a> 
    </li>
  </ul>
</section>

<section class="brands">
  <h2 class="title3">Marcas representadas</h2>
  <div>
    <div class="bg"></div>
    <div aria-label="marcas associadas mapor">
      <div class="logobtnwrap" aria-label="platinium">
        <img src="assets/img/platinium.png" alt="logo platinium">
        <a href="https://www.yumpu.com/pt/document/read/63165103/catalogo-platinium-alt-v2-2020-print" target="_blank" class="btnone">Ver Produtos</a>
      </div>
      <div class="logobtnwrap" aria-label="ferroluz">
        <img src="assets/img/ferroluz.png" alt="logo ferroluz">
        <a href="https://www.mapor.pt/portfolio/00_Ferroluz_Tarifa2020_Digital_Precios_SM.pdf" target="_blank" class="btnone">Ver Produtos</a>
      </div>
      <div class="logobtnwrap" aria-label="mtm">
        <img src="assets/img/mtm.png" alt="logo mtm">
        <a href="https://www.mapor.pt/portfolio/CatalogoMTM_2020.pdf" target="_blank" class="btnone">Ver Produtos</a>
      </div>
      <div class="logobtnwrap" aria-label="3v3">
        <img src="assets/img/3v3.png" alt="logo 3v3">
        <a href="https://www.mapor.pt/portfolio/V33-2020-PT BR.pdf" target="_blank" class="btnone">Ver Produtos</a>
      </div>
    </div>  
  </div>
</section>

