---
layout: default
---

<section class="intro-section">
  <h1>Uma escolha de bom tom</h1>
  <p>Distribuidores exclusivos de marcas conceituadas na área da construção e indústria.</p>
  <div class="img-container">
    <div class="intro-img" aria-hidden="true"></div>
  </div>
</section>

<section>
  <span>30 anos logo</span>
  <h2>A experiência faz parte de nós</h2>
  <p>Sediada em Mira, a Mapor conta já com uma vasta experiência no sector da construção e da indústria. Produzimos e distribuímos os melhores e mais variados materiais para estes sectores e representamos marcas confiáveis que nos permitem dar uma resposta de grande qualidade e diversidade ao mercado.​</p>
</section>

<section>
  <h2>Áreas de atuação</h2>
  <p>Disponibilizamos uma grande variedade de produtos dentro das seguintes áreas:</p>
  
  <figure>
    <img src="" alt="">
    <figcaption></figcaption>
  </figure>

  <figure>
    <img src="" alt="">
    <figcaption></figcaption>
  </figure>

  <figure>
    <img src="" alt="">
    <figcaption></figcaption>
  </figure>
  
</section>
