---
layout: default
---
<section class="return-politica">
<div>
    <a href="https://www.mapor.pt">
        <img src="assets/img/logo.png" alt="mapor tintas logo portugal">
    </a>
  </div>
</section>

<section class="politica">
        <h1>Política de Privacidade</h1>
        <p>A Tacha representações, lda, detentora da marca Mapor – tintas e materiais, é a entidade responsável pelo tratamento dos dados pessoais e assume permanentemente o compromisso público de atuar em conformidade com a legislação nacional e comunitária em vigor e aplicável.
         Os dados pessoais dos nossos clientes são tratados, exclusivamente, por se mostrarem necessários à elaboração de orçamentos, celebração e execução de contratos, gestão de entregas e acompanhamento de encomendas, serviço de assistência pós-venda, ao cumprimento de obrigações legais ou porque foram objeto de consentimento.
         Os dados pessoais fornecidos pelos clientes ou gerados pela utilização de serviços ou aquisição de bens, serão processados e armazenados informaticamente e destinam-se a serem utilizados pelo website Mapor – tintas e materiais para: marketing e vendas, gestão de clientes, gestão contabilística, fiscal e administrativa, gestão de contencioso e, em geral, cumprimento de obrigações gerais.
         O tratamento de dados para fins de marketing será efetuado de acordo com a opção de consentimento manifestada pelo cliente. Tal consentimento terá que ser prévio, livre, informado, específico e inequívoco, e constar de uma declaração escrita, que poderá revestir a forma de validação de uma opção. A todo o momento, poderá ser declarada por escrito a oposição ao tratamento de dados para fins de marketing.
         Os dados pessoais são conservados por períodos de tempo distintos, consoante a finalidade a que se destinam, de acordo com os respetivos critérios legais, em obediência aos princípios da necessidade e da minimização do tempo de conservação.</p>
         
        <p>A Tacha representações, lda poderá recorrer a entidades subcontratadas para efeitos de tratamentos de dados pessoais, nomeadamente, para campanhas promocionais, marketing, gestão da conta cliente, faturação, transporte de mercadorias, entregas e assistência pós-venda, contabilidade, gestão de contenciosos, processamento de salários, serviços de higiene e segurança no trabalho, entre outros, ficando tais entidades obrigadas a desenvolver as medidas de proteção dos dados e a assegurar a defesa dos direitos dos titulares.</p>
         
        <p>A Tacha representações, lda garante a todos os titulares de dados o acesso, retificação, oposição, apagamento, limitação e portabilidade dos dados fornecidos.
        O exercício de tais direitos deverá ser feito através do contacto, para o site geral@mapor.pt</p>
         
        <p>A todos os titulares de dados é reconhecido o direito de apresentarem reclamação diretamente à COMISSÃO NACIONAL DE PROTEÇÃO DE DADOS.</p>
        
        <h2>Os Anúncios</h2>
        <p>Tal como outros websites, coletamos e utilizamos informação contida nos anúncios. A informação contida nos anúncios, inclui o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider, como a NOS, MEO, ou outro), o browser que utilizou ao visitar o nosso website (como o Internet Explorer ou o Firefox), o tempo da sua visita e que páginas visitou dentro do nosso website.</p>
        
        <h2>Os Cookies e Web Beacons</h2>
        <p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoais quando visita o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários serviços que providenciamos, tais como fóruns.
        Em adição também poderemos utilizar publicidade de terceiros no nosso website para suportar os custos de manutenção. Alguns destes publicitários, poderão utilizar tecnologias como os cookies e/ou web beacons quando publicitam no nosso website, o que fará com que esses publicitários (como o Google através do Google AdSense) também recebam a sua informação pessoal, como o endereço IP, o seu ISP, o seu browser, etc. Esta função é geralmente utilizada para geotargeting (mostrar publicidade de Lisboa apenas aos leitores oriundos de Lisboa por ex.) ou apresentar publicidade direcionada a um tipo de utilizador (como mostrar publicidade de restaurante a um utilizador que visita sites de culinária regularmente, por ex.).
        A Tacha representações, lda está empenhada em tornar, quer a sua experiência online quer a sua interação com o nosso website num momento informativo e relevante, e em fornecer a melhor experiência possível durante a sua visita online. Uma das formas é através da utilização de cookies (próprios e de terceiros) para guardar informações sobre a sua visita ao nosso website, no seu computador. Estas informações são necessárias para o website poder funcionar corretamente.
         O que são cookies?
        Um cookie é um ficheiro que é descarregado pelo seu computador, telemóvel ou outro equipamento (designado posteriormente como equipamento) quando acede ao nosso website ou utiliza a nossa aplicação. O cookie permite-nos armazenar e recuperar informação sobre os seus hábitos de navegação ou do seu equipamento onde acede, em geral de forma anónima e dependendo da informação que contenha, se está registado previamente, para identificá-lo como cliente ou utilizador.
         A informação obtida está relacionada com o número de páginas que visita, o idioma, o local do qual acede, o número de utilizadores novos, a frequência e número de visitas, o tempo de duração da visita, o navegador ou equipamento com o qual realiza a visita no site ou na nossa aplicação.
         Que tipo de cookies poderão ser utilizados no nosso website?
        Cookies próprios
        São aqueles que são enviados para o computador a partir de um domínio ou computador operado por nós.
        Cookies de terceiros
        São aqueles que são enviados para o seu computador a partir de um computador ou domínio que não é operado por nós, mas por uma outra entidade que trata os dados obtidos por meio de cookies.
        Cookies de sessão
        São um tipo de cookie que expiram com o fecho da sessão no nosso website.
        Cookies persistentes
        São um tipo de cookie que são armazenados no computador por um período de tempo que pode variar de alguns minutos a vários anos.
        Cookies de análise
        São aqueles que ou tratados por nós ou por terceiros e que nos permitem quantificar o número de visitas e a utilização que os utilizadores fazem no nosso website com o objetivo de medição e a análise estatística da sua utilização e para resolver as lacunas detetadas e facilitar a utilização do nosso website.
        Cookies de publicidade
        Quando visita as páginas do nosso website, e-mails ou executa um aplicativo onde publicamos anúncios dos nossos produtos ou serviços, para realizar um controlo e acompanhamento da eficácia da publicidade estão instalados no seu browser ou computador cookies que são utilizados para medir, por exemplo, o número de vezes que se viu os anúncios e onde aparecem, o momento em que são vistos, de onde ou se você ainda não o viu antes.
        Cookies de publicidade comportamental
        São um tipo cookies que são utilizados para armazenar e recuperar informações sobre o comportamento dos utilizadores obtidos através da observação dos seus hábitos de navegação, que permitem que se desenvolva um perfil específico para mostrar ao utilizador publicidade em função do mesmo.
    </p>
    <p> 
        Renovação e eliminação de cookies
        A maior parte dos browsers permite controlar a maioria dos cookies através das suas configurações.
         Se desejar pode permitir, bloquear ou eliminar os cookies instalados no seu computador configurando as opções do browser instalado em seu computador ou a partir das configurações de privacidade do computador.
        Por exemplo, pode encontrar informações sobre como fazer isso no caso de usar como navegador:
        Firefox - a partir de ativar e desativar os cookies que os sites usam para rastrear as suas preferências | Ajuda Firefox
        Chrome - a partir de como gerir cookies e sites
        Explorer - a partir de administrar cookies em Internet Explorer
        Safari - a partir de Safari 8 (Yosemite): Gerir cookies e dados de sites
        Opera -  a partir de Administrador cookies
         Mais detalhes sobre cookies
        Informações gerais sobre como bloquear e remover cookies: http://www.aboutcookies.org/
         Pode recusar a utilização de cookies selecionando as definições apropriadas no seu navegador, no entanto, tenha em atenção que ao não aceitar as cookies, poderá não ser capaz de aproveitar ao máximo todas as vantagens nos respetivos websites.
         Categoria 1: cookies estritamente necessários
        Estes cookies são essenciais para poder navegar no website e utilizar as suas funcionalidades, tais como aceder a áreas seguras do website. Sem estes cookies, os serviços solicitados, como carrinhos de compras ou faturas eletrónicas, não poderão ser prestados. 
        Categoria 2: cookies de desempenho
        Estes cookies recolhem informações sobre como os visitantes utilizam um website, por exemplo, que páginas são acedidas com maior frequência por visitantes e se são recebidas mensagens de erro de páginas Web. Estes cookies não recolhem informações que identifiquem um visitante. Todas as informações recolhidas por estes cookies são guardadas de forma coletiva e, consequentemente, são anónimas. Estes são utilizados apenas para melhorar o funcionamento de um website.
         Categoria 3: cookies de funcionalidade
        Estes cookies permitem que o website se lembre das escolhas que efetuou (como o seu nome de utilizador, o idioma ou a região onde se encontra) e que ofereça funcionalidades melhoradas e mais pessoais. Por exemplo, um website pode ser capaz de lhe fornecer previsões meteorológicas locais ou informações de trânsito guardando num cookie a informação da região onde se encontra atualmente. Estes cookies também podem ser utilizados para lembrar as alterações que efetuou ao tamanho do texto, aos tipos de letra e a outras partes de páginas Web que podem ser personalizadas. Podem ainda ser utilizadas para prestar serviços que solicitou, como ver um vídeo ou comentar num blogue. As informações recolhidas por estes cookies podem ser processadas anonimamente e não é permitida a visualização da sua atividade de navegação noutros websites.
         Categoria 4: cookies de direcionamento ou cookies de publicidade
        Estes cookies são utilizados para apresentar publicidade mais relevante para si e adequada aos seus interesses. Estes também são utilizados para limitar o número de vezes que vê um anúncio e para ajudar a medir a eficiência da campanha publicitária. Normalmente, estes são colocados por redes publicitárias com a permissão do operador do website. Estes registam que visitou um determinado website e esta informação é partilhada com outras organizações, tais como publicitários. Os cookies de direcionamento ou publicidade serão ligados frequentemente à funcionalidade do site fornecida pela outra organização. Estes cookies não recolhem informações que identifiquem um visitante.</p>
         
        <p>Cookies de terceiros
        São semelhantes aos cookies “diretos”, no entanto, estes são originados num domínio diferente (não relacionado/ligado à Mapor-tintas e materiais) do que está a visitar. Estas entidades (não relacionadas/ligadas à Tacha representações, lda) também podem colocar cookies no seu dispositivo, quando visita o website da Mapor – tintas e materiais.
         Google Analytics
        O Google Analytics utiliza os “cookies” para recolher e analisar informações relativas à utilização dos sites visitados pelo utilizador. Para saber mais sobre os cookies do Google Analytics e a sua utilização pela Google Inc., pode consultar a informação sobre a utilização de cookies pela Google disponível no endereço:
        https://policies.google.com/technologies/cookies?hl=pt e https://support.google.com/analytics/answer/6004245
         Relativamente aos cookies da Addthis, é possível fazer opt-out através do seguinte link: http://www.addthis.com/privacy/opt-out
         A maior parte dos programas de navegação (Internet Explorer, Firefox, Chrome) poderá mostrar-lhe a forma de impedir novos cookies, como pode ser avisado quando recebe um novo cookie e como pode desativar e/ou apagar os cookies existentes.
        No entanto, tenha em atenção que ao não aceitar os cookies pode não ser capaz de aproveitar ao máximo todas as funcionalidades deste website.</p>
        <h2>Ligações a Sites de Terceiros</h2>
        <p>O website Mapor – Tintas e materiais pode possuir ligações para outros sites sempre que, a nosso ver, estes contenham informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.
        Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.
        Subscreva a
        Tacha representações, lda  </p>
        

</section>